<!-- 输入账号密码验证 -->
<div class="addDialog" style="width:550px;left: 60%;z-index: 1000">
    <h4 class="borderB padding10 textC">输入账号密码以确认</h4>
    <div class="forStar">
        <ul class="clearFix" style="padding-left: 22%;width: 70%;">
            <li class="form-group">
                <label class="addStar">账号：</label>
                <input class="label6-width" ng-model="conf.loginname" validator="[requiredSubmit]" validator-group="group_name">
            </li>
            <li class="form-group">
                <label class="addStar">密码：</label>
                <input class="label4-width" ng-model="conf.passwd" type="password" validator="[requiredSubmit]" validator-group="group_name">
            </li>
        </ul>
    </div>
    <div style="margin-left: 39%;margin-top: 5%;margin-bottom: 5%;">
        <a class="button button-blue" ng-click="stockSure()">确定</a>
    </div>
    <div class="ngdialog-close closeBefore" style="cursor: pointer" ng-click="closeEnter()"></div>
</div>
<div class="add-overlay" style="position: fixed;"></div>
