<!DOCTYPE html>
<html lang="zh-CN" ng-app="securityManageLogin">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="securityManager">

    <link rel="shortcut icon" href="../img/logo_ico.jpg"/>

    <title>物资管理系统-登录</title>
    <link rel="stylesheet" href="../scss/iconfont.css">
    <link href="../scss/common.css" rel="stylesheet"/>
    <link href="../css/login.css" rel="stylesheet">
    <style>
        .placeholder{
            position: absolute;
            left: 10px;
            top: 15px;
        }
        .pageMsg{
            position: absolute;
            bottom: 2%;
            left: 37%;
            color: #fff;
        }
    </style>
</head>
<body ng-controller="loginController" class="login-page" style="background-color: #00367a;"
      cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
<!--<div class="page-bg" style="min-width: 1280px;min-height: 700px;background-color: #00367a;">-->
    <!--&lt;!&ndash;<img class="bg-img" src="../img/bg.png"/>&ndash;&gt;-->
<!--</div>-->
<img src="../img/logoDW.png" style="position: absolute;top: 37%;left: 20%;width: 300px;">
<div class="login-table">
    <div class="login-center">
        <div class="login-form">
            <h2 style="text-align: center;margin-bottom: 20px;font-size: 20px;font-family: Microsoft Yahei;">辅材管理系统登录</h2>
            <form>
                <div class="errInfo" ng-bind="conf.errInfo"></div>
                <div class="input-group">
                    <label for="username" class="login-label iconfont icon-yonhuming"></label>
                    <input style="font-size: 14px;font-family: Microsoft Yahei;" type="text" id="username" placeholder="用户名" ng-model="loginname" ng-focus="conf.errInfo='';checkPlaceholder(0)"
                           required>
                </div>
                <div class="input-group">
                    <label for="password" class="login-label iconfont icon-mima"></label>
                    <input style="font-size: 14px;font-family: Microsoft Yahei;" class="" type="password" id="password" placeholder="密码" ng-model="passwd" maxlength="16"
                           ng-focus="conf.errInfo='';checkPlaceholder(1)" required>
                </div>
                <div class="code-group" style="position: relative">
                    <input style="font-size: 14px;font-family: Microsoft Yahei;" class="login-code" id="loginCode" placeholder="请输入验证码" maxlength="4"
                           ng-focus="conf.errCode='';checkPlaceholder(2)" ng-keyup="checkLogin($event)" required>
                    <input type="text" class="code-img" style="font-style: italic;" id="checkCode" ng-click="createCode()" readonly="readonly"/>
                    <a href="" class="change-img" ng-click="createCode()">换一张</a>
                </div>
                <div class="errCode" ng-bind="conf.errCode"></div>
                <div class="button-group">
                    <a href="javascript:;" class="login-btn" ng-click="doLogin()">登录</a>
                </div>
                <div class="forget-pwd">
                    <!-- <a href="" ng-click="show()">忘记密码？</a>-->
                </div>
            </form>
        </div>
    </div>
</div>
<p class="pageMsg">建议使用IE10以上、谷歌、火狐三种浏览器，以便获得更好的用户体验。</p>
<script charset="utf-8" src="../libs/jquery.min.js"></script>
<script charset="utf-8" src="../libs/angular.min.js"></script>
<script charset="utf-8" src="../libs/angular-ui-router.js"></script>
<script charset="utf-8" src="../js/app.constants.js"></script>
<script type="text/javascript">
    var app = angular.module('securityManageLogin', ['app.constants', 'ui.router'])
    app.service('loginSerive', ['$http', 'API_ENDPOINT', 'WITH_CREDENTIALS', function ($http, API_ENDPOINT, WITH_CREDENTIALS) {
        return {
            login: function (data) {
                return $http.post(API_ENDPOINT.url + 'abslogin.json', data, WITH_CREDENTIALS);
            }
        }
    }])
    app.controller('loginController', ['$scope', 'loginSerive', '$rootScope', function ($scope, loginSerive, $rootScope) {

        //验证码
        var code; //在全局 定义验证码
        var checkCode = document.getElementById("checkCode");

        function createCode() {
            code = new Array();
            var codeLength = 4;//验证码的长度
            checkCode.value = "";

            var selectChar = new Array(2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');

            for (var i = 0; i < codeLength; i++) {
                var charIndex = Math.floor(Math.random() * 32);
                code += selectChar[charIndex];
            }
            if (code.length != codeLength) {
                createCode();
            }
            checkCode.value = code;
        }

        createCode();
        $scope.createCode = function () {
            createCode();
        };

        //判断当前浏览器是否支持placeholder属性
        function placeholderSupport() {
            return 'placeholder' in document.createElement('input');
        }
        $(function(){
            if(!placeholderSupport()){   // 判断浏览器是否支持 placeholder
                $(document).ready(function(){
                    //默认遍历循环添加placeholder
                    $('[placeholder]').each(function(){
                        $(this).parent().append("<span class='placeholder'>"+$(this).attr('placeholder')+"</span>");
                    })
                    $('[placeholder]').blur(function(){
                        if($(this).val()!=""){  //如果当前值不为空，隐藏placeholder
                            $(this).parent().find('span.placeholder').hide();
                        }
                        else{
                            $(this).parent().find('span.placeholder').show();
                        }
                    })
                });
            }
        });
        $scope.checkPlaceholder = function(id){
            if(!placeholderSupport()){
                $('span').eq(id).hide()
            }
        }
        //点击登录
        $scope.conf = {
            errCode: '',
            errInfo: ''
        };
        $scope.doLogin = function () {
            $scope.login();
        };
        $scope.checkLogin = function ($event) {
            if ($event.keyCode == 13) {
                $scope.login();
            }
        };
        $scope.login = function () {
            var userInfo = {
                loginname: $scope.loginname,
                passwd: $scope.passwd
            };
            //console.log(userInfo)
            var loginCode = document.getElementById("loginCode").value.toUpperCase();
            if (userInfo.loginname == undefined || userInfo.loginname == '') {
                $scope.conf.errInfo = "用户名不能为空";
                return false;
            }
            if (userInfo.passwd == undefined || userInfo.passwd == '') {
                $scope.conf.errInfo = "密码不能为空";
                return false;
            }
            if (loginCode.length <= 0) {
                $scope.conf.errCode = "验证码不能为空！";
                return false;
            } else if (loginCode != code) {
                $scope.conf.errCode = "验证码错误！";
                createCode();
                return false;
            }
            loginSerive.login(userInfo).success(function (data) {
                if (data.success == "true") {
                    sessionStorage.setItem("loginname", $scope.loginname);

                    window.location.href = '../index.html'


                } else if (data.success == "false") {
                    alert(data.returnmsg);
                }
            }).error(function () {
                //alert(data.returnmsg);
            })
        }
    }])

</script>
</body>
</html>