<!-- 修改密码 -->
<div class="mgTop20 mgBottom10 bkColor contentShadow">
    <div class="forStar borderB mgBottom10 clearFix">
        <ul class="fl clearFix" style="width: 80%;">
            <li>
                <label>登录账号：</label>
                <input class="label4-width" ng-model="conf.loginname" readonly>
            </li>
            <li>
                <label>原始密码：</label>
                <input class="label4-width" type="password" ng-model="conf.passwd_old">
            </li>
            <li>
                <label>新密码：</label>
                <input class="label4-width" type="password" ng-model="conf.passwd_new">
            </li>
        </ul>
        <a class="button button-blue" ng-click="refuse();">重置</a>
    </div>
</div>