<!-- 出库登记 -->
<div class="mgTop20 bkColor contentShadow">
    <div class="forStar mgBottom20 borderB clearFix">
        <ul class="fl clearFix" style="width: 85%">
            <li>
                <label>单号：</label>
                <input class="label3-width" ng-model="conf.apply_code">
            </li>
            <li style="width: 330px">
                <label>状态：</label>
                <div class="styled-select label3-width">
                    <select ng-model="conf.status" ng-options="o.key as o.value for o in ApplyStatus" style="width: 250px;">
                        <option></option>
                    </select>
                    <i class="arrow"></i>
                </div>
            </li>
            <li style="width: 460px">
                <label>日期时段：</label>
                <input class="label10-width" ng-model="conf.endDate" bs-datepicker ng-blur="checkMinDate(conf.startDate,conf.endDate)">
                <span class="fr span-get">到</span>
                <input class="label10-width" ng-model="conf.startDate" bs-datepicker>
            </li>
        </ul>
        <div class="fl">
            <a class="button button-blue" ng-click="getEmployeesPage()">查询</a>
        </div>
    </div>
    <div class="commonTable clearFix">
        <table>
            <thead>
                <tr>
                    <th>申请单号</th>
                    <th>领用人</th>
                    <th>申请日期</th>
                    <th>审批人</th>
                    <th>领料仓库</th>
                    <th>申请状态</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td>{{item.apply_code}}</td>
                    <td>{{item.apply_user_name}}</td>
                    <td>{{item.apply_date | timeFilter}}</td>
                    <td>{{item.review_user_name}}</td>
                    <td>{{item.apply_storehouse_name}}</td>
                    <td>{{item.status | applyStatus}}</td>
                    <td>{{item.remark}}</td>
                    <td>
                        <a class="button button-yellow operationButton" ng-show="item.status=='3'" ng-click="refuseStock(item.id)">拒绝领料</a>
                        <a class="button button-green operationButton" ng-show="item.status=='3'" ng-click="registrationSure(item.id,item)">领料确认</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-include="'views/common/paging.html'"></div>
    </div>
</div>
<div ng-include="'views/common/enterPassword.html'" ng-show="showEnter"></div>