<!-- 入库管理-->
<div class="subNav wrap topNav">
    <a ng-class="{true:'current',false:''}[conf.isCurrentproperty == 1]" ng-click="set(1)">采购入库</a>
    <div class="dashed"></div>
    <a ng-class="{true:'current',false:''}[conf.isCurrentproperty == 2]" ng-click="set(2)">退库查询</a>
    <div class="dashed"></div>
    <a ng-class="{true:'current',false:''}[conf.isCurrentproperty == 3]" ng-click="set(3)">移库查询</a>
    <div class="dashed"></div>
    <a ng-class="{true:'current',false:''}[conf.isCurrentproperty == 4]" ng-click="set(4)">入库查询统计</a>
</div>
<div class="wrap" ng-if="conf.isCurrentproperty==1" ng-include="'views/storageManage/procurementStorage/procurementStorage.html'" ng-controller="procurementStorageController" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
<div class="wrap" ng-if="conf.isCurrentproperty==2" ng-include="'views/storageManage/withdrawingMoney/withdrawingMoney.html'" ng-controller="withdrawingMoneyController" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
<div class="wrap" ng-if="conf.isCurrentproperty==3" ng-include="'views/storageManage/MoveTheStorage/MoveTheStorage.html'" ng-controller="MoveTheStorageController" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
<div class="wrap" ng-if="conf.isCurrentproperty==4" ng-include="'views/storageManage/storageQuery/storageQuery.html'" ng-controller="storageQueryController" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>

