<!-- 物资退回 -->
<div class="mgTop20 bkColor contentShadow">
    <div class="forStar mgBottom20 borderB clearFix">
        <ul class="fl clearFix" style="width: 70%">
            <li>
                <label>退库单号：</label>
                <input class="label4-width" ng-model="conf.putin_code">
            </li>
            <li style="width: 460px">
                <label>日期时段：</label>
                <input class="label10-width" ng-model="conf.endDate" bs-datepicker ng-blur="checkMinDate(conf.startDate,conf.endDate)">
                <div class="pos-re">
                    <i class="iconfont icon-sfsiconchacha-copy poorContent" title="清空" ng-model="conf.endDate" ensure-unique></i>
                </div>
                <span class="fr span-get">到</span>
                <input class="label10-width" ng-model="conf.startDate" bs-datepicker>
                <div class="pos-re">
                    <i class="iconfont icon-sfsiconchacha-copy poorContent" style="right: 173px;" title="清空" ng-model="conf.startDate" ensure-unique></i>
                </div>
            </li>
        </ul>
        <div class="fl">
            <a class="button button-blue" ng-click="getEmployeesPage()">查询</a>
            <a class="button button-blue" ng-click="addGoodReturned()">新增退回单</a>
        </div>
    </div>
    <div class="commonTable clearFix">
        <table>
            <thead>
                <tr>
                    <th>退回单号</th>
                    <th>退回日期</th>
                    <th>退回仓库</th>
                    <th>操作人</th>
                    <th>状态</th>
                    <th>用户操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td>{{item.putin_code}}</td>
                    <td>{{item.putin_date | timeFilter}}</td>
                    <td>{{item.putin_storehouse_name}}</td>
                    <td>{{item.putin_user_name}}</td>
                    <td>{{item.status | StorageStatus}}</td>
                    <td>
                        <a class="button button-green operationButton" href="#/GoodsReturnedDetails?id={{item.id}}&type=1">退回明细</a>
                        <a class="button button-green operationButton" ng-click="modifyMateriel(item.id,item)">修改</a>
                        <a class="button button-yellow operationButton" ng-click="deleteMateriel(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-include="'views/common/paging.html'"></div>
    </div>
</div>
<div class="add-overlay" ng-if="showAdd" ng-include="'views/operationalGuidance/GoodsReturned/addGoodsReturned.html'"></div>
<div class="add-overlay" ng-if="showModify" ng-include="'views/operationalGuidance/GoodsReturned/modifyGoodsReturned.html'"></div>