<div class="bkColor pos-re addSecurities" style="margin-top: 2%">
    <h4 class="borderB padding10 textC">新增入库单</h4>
    <div class="forStar clearFix" style="height: 350px;overflow-y:auto;overflow-x: hidden">
        <ul class="fl clearFix" style="width: 36%;margin-left: 19%;">
            <li class="form-group">
                <label class="addStar">入库单号：</label>
                <input class="label4-width" ng-model="storageModel.putin_code" disabled>
            </li>
            <li class="form-group">
                <label class="addStar">入库人：</label>
                <input class="label4-width" ng-model="storageModel.putin_user_name" disabled>
            </li>
            <li class="form-group">
                <label class="addStar">入库仓库编码：</label>
                <div class="styled-select label6-width">
                    <select ng-model="storageModel.putin_storehouse_code" ng-options="o.key as o.value for o in houseCodeList"
                            validator="[requiredSubmit]" validator-group="securities_name">
                    </select>
                    <i class="arrow"></i>
                </div>
            </li>
            <li>
                <label>备注：</label>
                <input class="label4-width" ng-model="storageModel.remark">
            </li>
        </ul>
        <ul class="fl clearFix" style="width: 45%">
            <li class="form-group">
                <label class="addStar">入库类型：</label>
                <div class="styled-select label4-width">
                    <select ng-model="storageModel.putin_type" ng-options="o.key as o.value for o in StockType"
                            validator="[requiredSubmit]" validator-group="securities_name" disabled>
                    </select>
                    <i class="arrow"></i>
                </div>
            </li>
            <li class="form-group">
                <label class="addStar">入库日期：</label>
                <input class="label4-width" ng-model="storageModel.putin_date" bs-datepicker>
            </li>
            <li class="form-group">
                <label class="addStar">合同号：</label>
                <input class="label4-width" ng-model="storageModel.contract_no" >
            </li>
        </ul>
        <!--<ul class="fl clearFix" style="margin-left: 19%;width: 63%">-->
            <!--<li style="width: 100%">-->
                <!--<label>备注：</label>-->
                <!--<textarea style="width: 90.9%;height: 40px;;resize: none;padding: 5px" ng-model="storageModel.remark"></textarea>-->
            <!--</li>-->
            <i class="iconfont icon-jia2" ng-click="addMaterial()">添加物资</i>
        <!--</ul>-->
        <div class="commonTable clearFix" style="width: 64%;margin-left: 19%;">
            <table>
                <thead>
                    <tr>
                        <th>物资编码</th>
                        <th>物资名称</th>
                        <th>物资类型</th>
                        <th>规格型号</th>
                        <th>供应商（厂家）</th>
                        <th>入库数量</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in MaterialList">
                        <td>{{item.code}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.codename}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.supplier}}</td>
                        <td>{{item.putin_number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ngdialog-close" ng-click="closeForm()"></div>
    <a class="button button-blue marginLButton mgBottom10 mgTop20" ng-click="addOneStorageSure()">新增</a>
</div>
<div class="add-overlay" ng-show="showAddMaterial">
    <div class="uploadFiles fileImportContent">
        <div class="forStar">
            <ul class="mgTop20 clearFix">
                <li class="form-group" style="overflow: inherit">
                    <label class="addStar">选择物资</label>
                    <div class="styled-select label6-width" style="overflow: inherit;">
                        <input type="text" style="width: 144px;" ng-model="conf.material" placeholder="物资编码-物资名称" ng-mousedown="showMenu()"
                               validator="[requiredSubmit]" validator-group="AddMaterial">
                        <i class="iconfont icon-sfsiconchacha-copy poorContent" ng-click="removeName()"></i>
                        <ul style="right: -2px;top:28px;border-radius: 4px;" ng-mouseleave="notShow()" class="add-menu" ng-show="isShowMenu==true">
                            <li ng-repeat="item in ALLMaterialList | filter:conf.material" style="position: relative;width: 142px">
                                <a ng-click="changevalue(item.value,item.key)">
                                    <input type="text" title="{{item.value}}" class="mouseFocus" style="width: 148px;overflow: hidden;border: none;cursor: pointer" ng-model="item.value">
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label>物资编码</label>
                    <input class="projectName label6-width" ng-model="conf.code" disabled>
                </li>
                <li>
                    <label>物资名称</label>
                    <input class="projectName label6-width" ng-model="conf.name" disabled>
                </li>
                <li>
                    <label>物资类型</label>
                    <input class="projectName label6-width" ng-model="conf.codename"  disabled>
                </li>
                <li>
                    <label>规格型号</label>
                    <input class="projectName label6-width" ng-model="conf.model" disabled>
                </li>
                <li>
                    <label>供应商（厂家）</label>
                    <input class="projectName label6-width" ng-model="conf.supplier" disabled>
                </li>
                <li class="form-group">
                    <label class="addStar">入库数量</label>
                    <input class="projectName label6-width" ng-model="conf.putin_number" placeholder="入库数量"
                           validator="[requiredSubmit]" validator-group="AddMaterial">
                </li>
            </ul>
            <a class="button button-blue" style="margin: 5% 0 0 40%;" ng-click="addSureAddMaterial()">添加</a>
        </div>
        <div class="ngdialog-close closeBefore"  style="cursor: pointer" ng-click="closeAddMaterialModify()"></div>
    </div>
</div>