<div class="menu">
    <div class="wrap clearFix">
        <ul class="fl logo-ul">
            <li>
                <a class="lg-img fl">
                    <img class="fl" src="img/logoDW.png" style="width: 155px">
                </a>
                <p style="float: left;margin: 9% 0 0 0;color: #fff;">辅材管理系统</p>
            </li>
        </ul>
        <ul class="fl menu-list menu-hover" id="menuList">
            <li>
                <a class="" href="#/shouye" menu-tabs>
                    <i class="iconfont"></i>首页
                </a>
            </li>
            <li ng-if="role==2">
                <a class="" href="#/materialsManagement" menu-tabs>
                    <i class="iconfont"></i>物资管理
                </a>
            </li>
            <li ng-if="role==2">
                <a class="" href="#/storageManage" menu-tabs>
                    <i class="iconfont"></i>入库管理
                </a>
            </li>

            <li ng-if="role==2">
                <a class="" href="#/stockOutManagement" menu-tabs>
                    <i class="iconfont"></i>出库管理
                </a>
            </li>

            <li ng-if="role!=1">
                <a class="" href="#/materialsFor" menu-tabs>
                    <i class="iconfont"></i>物资申领
                </a>
            </li>

            <li ng-if="role==2 || role==4">
                <a class="" href="#/operationalGuidance" menu-tabs>
                    <i class="iconfont"></i>运行管理
                </a>
            </li>

            <li ng-if="role==2 || role==3">
                <a class="" href="#/checkTheStock" menu-tabs>
                    <i class="iconfont"></i>仓库盘点
                </a>
            </li>

            <li ng-if="role==2">
                <a class="" href="#/warehouseAllotting" menu-tabs>
                    <i class="iconfont"></i>仓库调拨
                </a>
            </li>

            <li>
                <a class="" href="#/systemManagement" menu-tabs>
                    <i class="iconfont"></i>系统管理
                </a>
            </li>

            <!--<li>-->
                <!--<a class="" href="#/DurationManage" menu-tabs>-->
                    <!--<i class="iconfont"></i>消息提醒-->
                <!--</a>-->
            <!--</li>-->
        </ul>
        <ul class="userMsg">
            <li>
                <a style="padding: 2px" ng-click="logout()"><img src="img/exit.png" >退出</a>
            </li>
            <li>
                <a style="padding: 0px" title="{{name}}"><img src="img/uname.png">{{name | nameLength}}</a>
            </li>
            <li class="adviceImgHover" ng-click="readAll()" style="float: left;color: #fff">
                <a class="adviceImg">
                    <img src="img/advice.png">
                    <span ng-if="versionNum>0">{{versionNum}}</span>
                    <span ng-if="versionNum==0">0</span>
                </a>
            </li>
        </ul>
    </div>
</div>
