<!-- 拒绝领料 -->
<div class="addDialog" style="width:550px;left: 60%;z-index: 1000">
    <h4 class="borderB padding10 textC">拒绝领料</h4>
    <div class="forStar">
        <ul class="clearFix" style="padding-left: 5%">
            <li class="form-group">
                <label class="addStar">领料人账号：</label>
                <input class="label4-width" validator="[requiredSubmit]" validator-group="group_name">
            </li>
            <li class="form-group">
                <label class="addStar">密码：</label>
                <input class="label4-width" validator="[requiredSubmit]" validator-group="group_name">
            </li>
        </ul>
    </div>
    <div style="margin-left: 39%;margin-top: 5%;">
        <a class="button button-blue" ng-click="">确定</a>
    </div>
    <div class="ngdialog-close closeBefore" style="cursor: pointer" ng-click="closeRefuse()"></div>
</div>
<div class="add-overlay" style="position: fixed;"></div>
