<!-- 物资维护 -->
<div class="mgTop20 bkColor contentShadow">
    <div class="forStar mgBottom20 borderB clearFix">
        <ul class="fl clearFix" style="width: 70%">
            <li>
                <label>物资编码：</label>
                <input class="projectName label6-width" ng-model="conf.searchCode" placeholder="物资编码">
            </li>
            <li class="form-group" style="overflow: inherit">
                <label>物资名称</label>
                <div class="styled-select label6-width" style="overflow: inherit;">
                    <input type="text" style="width: 144px;" ng-model="conf.searchName_type" placeholder="物资编码-物资名称" ng-mousedown="showMaterialMenu()">
                    <i class="iconfont icon-sfsiconchacha-copy poorContent" ng-click="removeMaterialName()"></i>
                    <ul style="right: -2px;top:28px;border-radius: 4px;" ng-mouseleave="notShowMaterial()" class="add-menu" ng-show="isShowMaterialMenu==true">
                        <li ng-repeat="item in ALLMaterialList | filter:conf.searchName_type" style="position: relative;width: 142px">
                            <a ng-click="changematerialvalue(item.value,item.key)">
                                <input type="text" title="{{item.value}}" class="mouseFocus" style="width: 148px;overflow: hidden;border: none;cursor: pointer" ng-model="item.value">
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="fl">
            <a class="button button-blue" ng-click="search()">查询</a>
            <a class="button button-blue" ng-click="addMateriel()">新增物资</a>
        </div>
    </div>
    <div class="commonTable clearFix">
        <table>
            <thead>
                <tr>
                    <th>物资编码</th>
                    <th>物资名称</th>
                    <th>物资类型</th>
                    <th>规格型号</th>
                    <th>供应商（厂家）</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.type_name}}</td>
                    <td>{{item.model}}</td>
                    <td>{{item.supplier}}</td>
                    <td>
                        <a class="button button-green operationButton" ng-click="modifyMateriel(item.id,item)">修改</a>
                        <a class="button button-yellow operationButton" ng-click="deleteMateriel(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-include="'views/common/paging.html'"></div>
    </div>
</div>
<div class="add-overlay" ng-show="showAdd">
    <div class="uploadFiles fileImportContent">
        <div class="forStar">
            <ul class="mgTop20 clearFix">
                <li class="form-group">
                    <label class="addStar">物资编码</label>
                    <input class="projectName label6-width" ng-model="conf.code" placeholder="物资编码"
                           validator="[requiredSubmit]" validator-group="group_name" disabled>
                </li>
                <li class="form-group">
                    <label class="addStar">物资名称</label>
                    <input class="projectName label6-width" ng-model="conf.name" placeholder="物资名称"
                           validator="[requiredSubmit]" validator-group="group_name">
                </li>
                <li class="form-group" style="overflow: inherit;">
                    <label class="addStar">物资类型</label>
                    <div class="styled-select label6-width" style="overflow: inherit;">
                        <input type="text" style="width: 144px;" ng-model="conf.jy_material_type_id" ng-mousedown="showMenu()" validator="[requiredSubmit]" validator-group="group_name">
                        <i class="iconfont icon-sfsiconchacha-copy poorContent" ng-click="removeName()"></i>
                        <ul style="right: -2px;top:28px;border-radius: 4px;" ng-mouseleave="notShow()" class="add-menu" ng-show="isShowMenu==true">
                            <li ng-repeat="item in TypeAndName | filter:conf.jy_material_type_id" style="position: relative;width: 142px">
                                <a ng-click="changevalue(item.value,item.key)">
                                    <input type="text" title="{{item.value}}" class="mouseFocus" style="width: 148px;overflow: hidden;border: none;cursor: pointer" ng-model="item.value">
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!--<li class="form-group">-->
                    <!--<label class="addStar">物资类型</label>-->
                    <!--<div class="styled-select label6-width">-->
                        <!--<select ng-model="conf.jy_material_type_id" ng-options="o.key as o.value for o in TypeAndName"-->
                                <!--validator="[requiredSubmit]" validator-group="group_name">-->
                        <!--</select>-->
                        <!--<i class="arrow"></i>-->
                    <!--</div>-->
                <!--</li>-->
                <li class="form-group">
                    <label class="addStar">规格型号</label>
                    <input class="projectName label6-width" ng-model="conf.model" placeholder="规格型号"
                           validator="[requiredSubmit]" validator-group="group_name">
                </li>
                <li class="form-group">
                    <label class="addStar">供应商（厂家）</label>
                    <input class="projectName label6-width" ng-model="conf.supplier" placeholder="供应商（厂家）"
                           validator="[requiredSubmit]" validator-group="group_name">
                </li>
            </ul>
            <a class="button button-blue" style="margin: 5% 0 0 40%;" ng-click="addSure()" ng-if="nowAdd==true">新增</a>
            <a class="button button-blue" style="margin: 5% 0 0 40%;" ng-click="modifySure()" ng-if="nowAdd==false">修改</a>
        </div>
        <div class="ngdialog-close closeBefore"  style="cursor: pointer" ng-click="closeFileForm()"></div>
    </div>
</div>