<!-- 出库查询统计 -->
<div class="mgTop20 bkColor contentShadow">
    <div class="forStar mgBottom20 borderB clearFix">
        <ul class="fl clearFix" style="width: 70%">
            <li style="position: relative">
                <label>出库单号:</label>
                <input class="label5-width" ng-model="conf.putout_code" placeholder="出库单号">
                <!--<i class="iconfont icon-sousuo-sousuo iconFontSouSuo" ng-click="getEmployeesPage()"></i>-->
            </li>
            <li>
                <label>出库仓库编码：</label>
                <input class="label6-width" ng-model="conf.putout_storehouse_code" placeholder="出库仓库编码">
            </li>
            <li>
                <label>出库人:</label>
                <input class="label5-width" ng-model="conf.putout_user_name" placeholder="出库人">
            </li>
        </ul>
        <div class="fl">
            <a class="button button-blue" ng-click="getEmployeesPage()">查询</a>
            <a class="button button-blue" ng-click="downLoad()">导出</a>
        </div>
    </div>
    <div class="commonTable clearFix">
        <table>
            <thead>
                <tr>
                    <th>出库单号</th>
                    <th>出库类型</th>
                    <th>出库仓库</th>
                    <th>物资名称</th>
                    <th>物资编号</th>
                    <th>物资类型</th>
                    <th>出库数量</th>
                    <th>供应商</th>
                    <th>规格型号</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td>{{item.putout_code}}</td>
                    <td>{{item.putout_type}}</td>
                    <td>{{item.putout_storehouse_name}}</td>
                    <td>{{item.material_name}}</td>
                    <td>{{item.material_code}}</td>
                    <td>{{item.material_type_name}}</td>
                    <td>{{item.putout_number}}</td>
                    <td>{{item.model}}</td>
                    <td>{{item.supplier}}</td>
                    <td>{{item.remark}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-include="'views/common/paging.html'"></div>
    </div>
</div>