<div class="bkColor pos-re addSecurities" style="margin-top: 2%">
    <h4 class="borderB padding10 textC">新增申领单</h4>
    <div class="forStar clearFix" style="height: 350px;overflow-y:auto;overflow-x: hidden">
        <ul class="fl clearFix" style="width: 36%;margin-left: 19%;">
            <li class="form-group">
                <label class="addStar">入库单号：</label>
                <input class="label4-width" ng-model="storageModel.apply_code" validator="[requiredSubmit]" validator-group="securities_name" disabled>
            </li>
            <li class="form-group">
                <label class="addStar">领用人：</label>
                <input class="label4-width" ng-model="storageModel.apply_user_name" validator="[requiredSubmit]" validator-group="securities_name">
            </li>
            <li class="form-group">
                <label class="addStar">出库人：</label>
                <div class="styled-select label4-width">
                    <select ng-model="storageModel.storehouse_user" ng-options="o.key as o.value for o in UserByRole_canguan"
                            validator="[requiredSubmit]" validator-group="securities_name" ng-change="getMyHouse()">
                    </select>
                    <i class="arrow"></i>
                </div>
            </li>
            <li class="form-group">
                <label class="addStar">审批人：</label>
                <div class="styled-select label4-width">
                    <select ng-model="storageModel.review_user" ng-options="o.key as o.value for o in UserByRole_lingdao"
                            validator="[requiredSubmit]" validator-group="securities_name">
                    </select>
                    <i class="arrow"></i>
                </div>
            </li>
        </ul>
        <ul class="fl clearFix" style="width: 45%">
            <li><label></label></li>
            <li class="form-group">
                <label class="addStar">申请日期：</label>
                <input class="label4-width" ng-model="storageModel.apply_date" validator="[requiredSubmit]" validator-group="securities_name" bs-datepicker>
            </li>
            <li class="form-group">
                <label class="addStar">领料仓库：</label>
                <div class="styled-select label4-width">
                    <select ng-model="storageModel.apply_storehouse_code" ng-options="o for o in houseCodeList"
                            validator="[requiredSubmit]" validator-group="securities_name">
                    </select>
                    <i class="arrow"></i>
                </div>
            </li>
            <li>
                <label>备注：</label>
                <input class="label4-width" ng-model="storageModel.remark">
            </li>
        </ul>
        <i class="iconfont icon-jia2" style="display: block;margin: 0 0 0 20%;float: left" ng-click="addMaterial()">添加物资</i>
        <!--<ul class="fl clearFix" style="margin-left: 19%;width: 63%">-->
            <!--<li ng-repeat="item in MaterialList" style="width: 100%">-->
                <!--<div class="styled-select displayIn fl clearFix">-->
                    <!--<select ng-model="item.jy_material_id" ng-options="o.key as o.value for o in MaterialAndId">-->
                    <!--</select>-->
                    <!--<i class="arrow"></i>-->
                <!--</div>-->
                <!--<input ng-model="item.putin_number" class="fl label10-width" style="margin-left: 10px" placeholder="数量">-->
                <!--<i class="iconfont icon-sfsiconchacha-copy fl" style="font-size: 20px" ng-click="deleteOneMaterial($index)" title="删除"></i>-->
            <!--</li>-->
        <!--</ul>-->
        <div class="commonTable clearFix" style="width: 64%;margin-left: 19%;">
            <table>
                <thead>
                    <tr>
                        <th>物资编码</th>
                        <th>物资名称</th>
                        <th>物资类型</th>
                        <th>规格型号</th>
                        <th>供应商（厂家）</th>
                        <th>入库数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in MaterialList">
                        <td>{{item.code}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.codename}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.supplier}}</td>
                        <td>{{item.apply_number}}</td>
                        <td>
                            <a class="button button-yellow operationButton" ng-click="deleteOneMaterial($index)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ngdialog-close" ng-click="closeForm()"></div>
    <a class="button button-blue marginLButton mgBottom10 mgTop20" ng-click="addOneStorageSure()">新增</a>
</div>
<div class="add-overlay" ng-show="showAddMaterial">
    <div class="uploadFiles fileImportContent">
        <div class="forStar">
            <ul class="mgTop20 clearFix">
                <li class="form-group" style="overflow: inherit">
                    <label class="addStar">选择物资</label>
                    <div class="styled-select label6-width" style="overflow: inherit;">
                        <input type="text" style="width: 144px;" ng-model="conf.material" placeholder="物资编码-物资名称" ng-mousedown="showMenu()"
                               validator="[requiredSubmit]" validator-group="AddStock">
                        <i class="iconfont icon-sfsiconchacha-copy poorContent" ng-click="removeName()"></i>
                        <ul style="right: -2px;top:28px;border-radius: 4px;" ng-mouseleave="notShow()" class="add-menu" ng-show="isShowMenu==true">
                            <li ng-repeat="item in ALLMaterialList | filter:conf.material" style="position: relative;width: 142px">
                                <a ng-click="changevalue(item.value,item.key)">
                                    <input type="text" title="{{item.value}}" class="mouseFocus" style="width: 148px;overflow: hidden;border: none;cursor: pointer" ng-model="item.value">
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label>物资编码</label>
                    <input class="projectName label6-width" ng-model="conf.code" disabled>
                </li>
                <li>
                    <label>物资名称</label>
                    <input class="projectName label6-width" ng-model="conf.name" disabled>
                </li>
                <li>
                    <label>物资类型</label>
                    <input class="projectName label6-width" ng-model="conf.codename"  disabled>
                </li>
                <li>
                    <label>规格型号</label>
                    <input class="projectName label6-width" ng-model="conf.model" disabled>
                </li>
                <li>
                    <label>供应商（厂家）</label>
                    <input class="projectName label6-width" ng-model="conf.supplier" disabled>
                </li>
                <li class="form-group">
                    <label>库存</label>
                    <input class="projectName label6-width" ng-model="conf.storeNumber" disabled>
                </li>
                <li class="form-group">
                    <label class="addStar">申领数量</label>
                    <input class="projectName label6-width" ng-model="conf.apply_number" placeholder="入库数量"
                           validator="[requiredSubmit]" validator-group="AddStock">
                </li>
            </ul>
            <a class="button button-blue" style="margin: 5% 0 0 40%;" ng-click="addSureAddMaterial()">添加</a>
        </div>
        <div class="ngdialog-close closeBefore"  style="cursor: pointer" ng-click="closeAddMaterialModify()"></div>
    </div>
</div>