<div class="mgTop20 bkColor contentShadow">
    <div class="forStar mgBottom20 borderB clearFix">
        <ul class="fl clearFix" style="width: 70%">
            <li style="width: 330px;overflow: inherit;">
                <label>项目名称：</label>
                <div class="styled-select label4-width">
                    <select ng-model="conf.productName" ng-change="getFile()"
                            ng-options="o.key as o.value for o in productName" style="width: 250px;">
                        <option value=""></option>
                    </select>
                    <i class="arrow"></i>
                </div>
            </li>
            <li>
                <label>项目状态：</label>
                <div class="styled-select label4-width">
                    <select>
                        <option>进行中</option>
                        <option>项目结束</option>
                    </select>
                    <i class="arrow"></i>
                </div>
            </li>
            <li>
                <label>创建人：</label>
                <input class="projectName label4-width" placeholder="创建人">
            </li>
        </ul>
        <div class="fl">
            <a class="button button-blue">查询</a>
            <a class="button button-blue" href="#/addProject">新增项目</a>
        </div>
    </div>
    <div class="commonTable clearFix">
        <table>
            <thead>
                <tr>
                    <th>项目名称</th>
                    <th>创建人</th>
                    <th>初始起算日</th>
                    <th>发起机构</th>
                    <th>交易场所</th>
                    <th>项目状态</th>
                    <th style="width: 315px">用户操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                        <a class="button button-lightBlue operationButton" href="#/projectDetail">项目信息</a>
                        <a class="button button-green operationButton" href="#/projectManage?type=2">项目文档</a>
                        <a class="button button-green operationButton" href="">产品信息</a>
                        <a class="button button-yellow operationButton" href="">删除项目</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-include="'views/common/paging.html'"></div>
    </div>
</div>