<!-- 运行管理 -->
<div class="subNav wrap topNav">
    <a ng-if="role==4" ng-class="{true:'current',false:''}[conf.isCurrentproperty == 1]" ng-click="set(1)">使用登记</a>
    <div class="dashed" ng-if="role==2"></div>
    <a ng-if="role==2" ng-class="{true:'current',false:''}[conf.isCurrentproperty == 2]" ng-click="set(2)">使用登记查询</a>
    <div ng-if="role==4" class="dashed"></div>
    <a ng-if="role==4" ng-class="{true:'current',false:''}[conf.isCurrentproperty == 3]" ng-click="set(3)">物资退回</a>
    <div ng-if="role==4" class="dashed"></div>
    <a ng-if="role==4" ng-class="{true:'current',false:''}[conf.isCurrentproperty == 4]" ng-click="set(4)">查看持有情况</a>
</div>
<div class="wrap pos-re" ng-if="conf.isCurrentproperty==1" ng-include="'views/operationalGuidance/useRegistration/useRegistration.html'" ng-controller="useRegistrationController" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
<div class="wrap pos-re" ng-if="conf.isCurrentproperty==2" ng-include="'views/operationalGuidance/useRegistrationQuery/useRegistrationQuery.html'" ng-controller="useRegistrationQueryController" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
<div class="wrap pos-re" ng-if="conf.isCurrentproperty==3" ng-include="'views/operationalGuidance/GoodsReturned/GoodsReturned.html'" ng-controller="GoodsReturnedController" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
<div class="wrap pos-re" ng-if="conf.isCurrentproperty==4" ng-include="'views/operationalGuidance/ViewHold/ViewHold.html'" ng-controller="ViewHoldController" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
